@media (max-width: 768px) {
  #r1 {
    margin-left: 40vw;
    order: 2;
  }

  #r2 {
    order: 3;
  }

  #r3 {
    order: 4;
  }

  #r4 {
    order: 5;
    margin-right: 40vw;
  }

  .slider-texts {
    order: 6;
  }
}